$govuk-global-styles: true;
$govuk-font-family: 'ministry', Arial, sans-serif;
$govuk-font-weight-regular: 100;
$govuk-font-weight-bold: 300;
$govuk-focus-colour: #4ebdfe;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

@import "patterns/jquery.fancybox.min";

// Components that aren't in Frontend
@import "components/cookie-banner";

// My colours
$grey-0: #4c5458;

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.govuk-template {
  background-color: govuk-colour("grey-4");
}

.govuk-header {
  background: $grey-0;
  border-bottom: none;
  padding-bottom: 5px;
}

.govuk-header__container {
  // border-bottom: 1px solid rgba(255,255,255, 0.8);
  border-bottom: none;
  margin-bottom: -1px;
}

.govuk-header__navigation {
  text-align: right;
}

.govuk-header__navigation-item--active a:hover,
.govuk-header__navigation-item--active a:link,
.govuk-header__navigation-item--active a:visited {
  color: #4ebdfe;
}

.govuk-header__navigation-item--active a:focus {
  color: $govuk-text-colour;
}

.govuk-header__navigation-item a {
  font-weight: 300;
}

.govuk-header__navigation-item--active a {
  font-weight: 500;
}

.govuk-footer {
  background-color: govuk-colour("grey-4");
  border-top-color: govuk-colour("grey-3");
}

.banner-container {
  background: govuk-colour("grey-1");
}

/*** BANNER STYLES ***/
.banner-container {
  padding-bottom: 4em;
}

.banner-container--centred {
  text-align: center;
}

.banner-container__title {
  color: govuk-colour("white");
}

.avatar-container {
  border: 15px solid lighten(govuk-colour("light-blue"), 20%);
  border-radius: 200px;
  display: block;
  margin: 0 auto;
  height: 230px;
  width: 230px;
  overflow: hidden;
}

.avatar-container__image {
  border: 15px solid govuk-colour("light-blue");
  border-radius: 200px;
  overflow: hidden;
  width: 200px;
}

.faces-container {}

.faces-container__face {
  text-align: center;
}

.work-list {
  margin-left: -4%;
  overflow: auto;
  padding-top: 3px;
  @include govuk-media-query($from: tablet) {
    margin-left: -2%;
  }
  @include govuk-media-query($from: desktop) {
    margin-left: -2%;
  }

  li {
    display: block;
    float: left;
    margin-left: 4%;
    margin-bottom: 6%;
    width: 45%;
    position: relative;
    @include govuk-media-query($from: tablet) {
      width: 31%;
      margin-left: 2%;
      margin-bottom: 4%;
    }
    @include govuk-media-query($from: desktop) {
      width: 22.5%;
      margin-left: 2%;
      margin-bottom: 4%;
    }
  }

  a {
    display: block;
    padding: 4px 4px 0;
    background-color: govuk-colour('light-blue');
    transition: background-color .25s;

    &:hover {
      background-color: #4ebdfe;
    }
  }

  img {
    width: 100%;
  }
}
