{% extends "my-layout.html" %}

{% block pageTitle %}
  About me: Ollie Williams, user experience designer
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        About me
      </h1>
      <p class="govuk-body-l"></p>
      <h2 class="govuk-heading-l">Who am I?</h2>
      <p>
        I’m a digital media professional with a background in user experience, graphic design and web development. I've always had a passion for design and was drawn to IT at the height of the dot-com bubble. I have a practical nature and enjoy solving
        problems in work and at home. Friends and colleagues know me to be patient, open and honest. In work, I champion user needs and the benefits of an established process.
      </p>
      <p>
        At home I spend most of my time with my family. I enjoy DIY projects of all sizes, spending time outdoors and working on my car.
      </p>
      <h2 class="govuk-heading-l">What am I passionate about?</h2>
      <p></p>
      <h2 class="govuk-heading-l">What can I offer?</h2>
      <h3 class="govuk-heading-m">An informed opinion</h3>
      <p>
        With first hand experience of server-side development, front-end web design, user-centered design and digital marketing, I understand the impact of my recommendations. My experience means I can communicate effectively across multi-disciplinary
        project teams.
      </p>
      <h3 class="govuk-heading-m">A clear voice and level head</h3>
      <p>
        Working directly with clients is a challenge that requires a confidence, clarity, knowledge and patience. I'm comfortable working with brands of all sizes and people from all backgrounds. I can convey an idea in straight-forward terms so that
        everyone understands what I'm saying.
      </p>
      <h2 class="govuk-heading-l">How do I work?</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Talk face to face whenever possible</li>
        <li>Take a step back and look at the bigger picture</li>
        <li>Never be afraid to change something</li>
        <li>We're better when we work together</li>
        <li>Data is important but it isn't everything</li>
        <li>Users will always challenge your expectations</li>
        <li>Process and consistency are important</li>
        <li>You get out what you put in</li>
        <li>Start small and build a solid foundation</li>
        <li>Seek out opportunities to share knowledge</li>
        <li>Trust your instincts</li>
      </ul>
    </div>
  </div>

{% endblock %}