{% extends "my-layout.html" %}

{% block pageTitle %}
  About me: Ollie Williams, user experience designer
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        About me
      </h1>
      <p class="govuk-body-l"></p>
      <h2 class="govuk-heading-l">Who am I?</h2>
      <p>
        Put simply, I’m a digital media professional with a background that encompasses design, development and user experience. Like a lot of people I’ve been swept up in the fast-paced development of Information Technology. I’m a people person with a keen
        interest in how we live our digital and every-day lives. I have a practical nature, like to get my hands dirty and enjoy solving problems, particularly when the perfect tool for the job may not be available. In work, I advocate finding the right
        balance between creativity, intelligent design and process and firmly believe that these three things can exist in harmony.
      </p>
      <h2 class="govuk-heading-l">What can I offer?</h2>
      <h3 class="govuk-heading-m">An informed opinion</h3>
      <p>
        With first hand experience of server-side development, front-end web design, user-centered design and digital marketing techniques I understand the background and practicalities of my recommendations. My experience also means I can communicate across
        design, development and project teams.
      </p>
      <h3 class="govuk-heading-m">A clear voice and level head</h3>
      <p>
        Working directly with clients is a challenge that requires a healthy mix of confidence, clarity, knowledge and patience. I'm friendly and open by nature and am comfortable working with brands of all sizes and people of all backgrounds. I can convey
        an idea in straight-forward terms so that everyone understands what I'm saying.
      </p>
      <h2 class="govuk-heading-m">How do I work?</h2>
      <h3 class="govuk-heading-m">A clear voice and level head</h3>
      <h3 class="govuk-heading-m">A clear voice and level head</h3>
      <h3 class="govuk-heading-m">A clear voice and level head</h3>
      <p>test</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">A quick status update</h3>
    </div>
  </div>

{% endblock %}