{% extends "my-layout.html" %}

{% block pageTitle %}
  About me: Ollie Williams, User Experience Designer
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        My CV
      </h1>
      <h2 class="govuk-heading-l">Senior Software Engineer</h2>
      <p class="govuk-caption-m">Talend SA, Nantes, France</p>
      <p class="govuk-caption-m">May 2020 to present</p>
      <p>
        Joining Talend was a huge step for me as it meant leaving my home country behind in search of a new life abroad for my family. This role gave me the chance to develop a range of new technical skills and to support the growth of a design system that
        was just getting started. It would challenge me in a huge number of ways, many of which I knew I wouldn't see coming!
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Working closely with design and development teams to create user interfaces for Big Data software services</li>
        <li>Acting as a first point of contact within the development team for questions during the experience design phase</li>
        <li>Supporting the evolution of the Talend Design System</li>
        <li>Sharing knowledge and experience with the user research team</li>
      </ul>

      <h2 class="govuk-heading-l">Senior Interaction Designer</h2>
      <p class="govuk-caption-m">Companies House, Cardiff, UK</p>
      <p class="govuk-caption-m">October 2015 to present</p>
      <p>
        It's an interesting time to be working in digital as part of the UK government. This role offered me the chance to work with a modern design system that's based on extensive user research. In addition, I'd be helping to shape the way businesses in
        the UK are run and my work would have tangible benefits for a huge user base.
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Design user journeys for digital services used by more than 3.5 million UK companies</li>
        <li>Create wireframes, journey maps and HTML prototypes to define the user experience</li>
        <li>Conduct user research session with members of the public</li>
        <li>Design solutions to help support users with accessibility needs</li>
        <li>Manage and mentor junior designers</li>
      </ul>

      <h2 class="govuk-heading-l">User Experience and UI Designer</h2>
      <p class="govuk-caption-m">Applied Card Technologies, Cardiff, UK</p>
      <p class="govuk-caption-m">October 2014 to September 2015</p>
      <p>
        My move to ACT was driven by the fact that the company was embarking on a programme of change. New technologies were being investigated, new services developed, new teams created and new offices opened. This would provide me with plenty of
        opportunities for personal and professional development.
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>User experience design for smart travel software solutions</li>
        <li>Delivered wireframes and prototypes to define the user experience</li>
        <li>Worked with a variety of public sector clients</li>
        <li>Supported multi-channel sales and marketing activities</li>
      </ul>

      <h2 class="govuk-heading-l">Lead User Experience Designer</h2>
      <p class="govuk-caption-m">Multicom Products, Bristol, UK</p>
      <p class="govuk-caption-m">May 2013 to September 2014</p>
      <p>
        Becoming the lead UX designer at Multicom was a natural progression based on my experience of existing clients and tech solutions. The role would give me the chance to guide a team of designers and shape the direction of design at Multicom.
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Led client meetings to deliver project proposals and briefs</li>
        <li>Managed the daily activities of the design team</li>
        <li>Focus on UX support for the software team and optimisation of existing client websites</li>
      </ul>

      <h2 class="govuk-heading-l">Web and User Experience Designer</h2>
      <p class="govuk-caption-m">Multicom Products, Bristol, UK</p>
      <p class="govuk-caption-m">November 2010 to April 2013</p>
      <p>
        Multicom was an exciting prospect at the time I joined. It would be my first major experience of a software development environment. They were using Agile which was becoming hugely popular and they were just starting to build web interfaces for their
        clients.
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Designed and developed engaging web experiences for travel</li>
        <li>Worked with some of the biggest brands in the travel industry</li>
        <li>Involved in creating and implementing the company’s marketing strategy</li>
      </ul>

      <h2 class="govuk-heading-l">User Experience Designer</h2>
      <p class="govuk-caption-m">Freelance and Pogo Digital, Cardiff, UK</p>
      <p class="govuk-caption-m">May 2010 to Nov 2010</p>
      <p>
        Choosing to start a company and go freelance was a decision driven by necessity. It was an exciting idea and represented a complete change to the way I utilised my skills and experience.
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Created branding and web presence for a wide variety of businesses</li>
        <li>Gained practical experience of user-centred design within the software development life-cycle</li>
        <li>Worked to generate interest in Pogo Digital and develop our client base</li>
      </ul>

      <h2 class="govuk-heading-l">Web Designer</h2>
      <p class="govuk-caption-m">UK Digital Solutions, Bridgend, UK</p>
      <p class="govuk-caption-m">October 2008 to May 2010</p>
      <p>
        Shifting away from an academic environment, I was eager to throw myself into the commercial world of web design. UKDS were an agency and I'd get the chance to work on projects for a wide variety of clients.
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Liaised with clients to gather requirements</li>
        <li>Led projects from inception to completion</li>
        <li>Designed and developed brochure and E-commerce websites</li>
      </ul>

      <h2 class="govuk-heading-l">HCI Researcher</h2>
      <p class="govuk-caption-m">Bournemouth University, Bournemouth, UK</p>
      <p class="govuk-caption-m">October 2006 to August 2008</p>
      <p>
        I left university with good practical skills and the ability to
        <i>make</i>
        stuff. I'd always been interested in people and why they do the things they do, so research into human computer interfaces seemed like an ideal partnership to my practical skills.
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Gained and understanding of interface design principles</li>
        <li>Explored the cognitive processes involved in emotion</li>
        <li>Presented my research at international conferences</li>
      </ul>
    </div>
  </div>

{% endblock %}