{% extends "my-layout.html" %}

{% block pageTitle %}
  Ollie Williams, User Experience Designer
{% endblock %}

{% block banner %}
  <div class="banner-container banner-container--centred">
    <div class="govuk-width-container">
      <div class="govuk-main-wrapper" role="banner">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl banner-container__title">
              Hi there!
            </h1>
            <div class="avatar-container">
              <img class="avatar-container__image" src="/public/images/profile-pic.jpg" alt=""/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row faces-container">
    <div class="govuk-grid-column-one-third faces-container__face">
      <h2 class="govuk-heading-m">Designer</h2>
      <p>
        <img src="/public/images/designer.svg" alt="" focusable="false" role="presentation"/>
      </p>
    </div>
    <div class="govuk-grid-column-one-third faces-container__face">
      <h2 class="govuk-heading-m">Researcher</h2>
      <p>
        <img src="/public/images/researcher.svg" alt="" focusable="false" role="presentation"/>
      </p>
    </div>
    <div class="govuk-grid-column-one-third faces-container__face">
      <h2 class="govuk-heading-m">Developer</h2>
      <p>
        <img src="/public/images/developer.svg" alt="" focusable="false" role="presentation"/>
      </p>
    </div>
  </div>
{% endblock %}