{% extends "my-layout.html" %}

{% block pageTitle %}
  My work: Ollie Williams, User Experience Designer
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Work
      </h1>
      <h2 class="govuk-heading-l">GOV.UK: Companies House</h2>
      <ul class="govuk-list work-list">
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-persona.jpg"><img data-original="public/images/work/smalls/govuk-persona.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-share-capital-wireframe.png"><img data-original="public/images/work/smalls/govuk-add-share-capital.png" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-share-capital-wireframe-2.png"><img data-original="public/images/work/smalls/govuk-share-capital-wireframe-2.png" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-admin-portal.jpg"><img data-original="public/images/work/smalls/govuk-admin-portal.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-search.jpg"><img data-original="public/images/work/smalls/govuk-search.png" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-company-people.jpg"><img data-original="public/images/work/smalls/govuk-company-people.png" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-company-filings.jpg"><img data-original="public/images/work/smalls/govuk-company-filings.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-company-profile.jpg"><img data-original="public/images/work/smalls/govuk-company-profile.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-interrupt.jpg"><img data-original="public/images/work/smalls/govuk-interrupt.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-check.jpg"><img data-original="public/images/work/smalls/govuk-check.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-card-sort.jpg"><img data-original="public/images/work/smalls/govuk-card-sort.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-journey-map.jpg"><img data-original="public/images/work/smalls/govuk-journey-map.jpg" class="lazyload"/></a>
        </li>
      </ul>
      <h2 class="govuk-heading-l">Applied Card Technologies</h2>
      <ul class="govuk-list work-list">
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/act-login.jpg"><img data-original="public/images/work/smalls/act-login.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/act-customer-search.jpg"><img data-original="public/images/work/smalls/act-customer-search.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/act-customer-profile.jpg"><img data-original="public/images/work/smalls/act-customer-profile.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/act-customer-tx.jpg"><img data-original="public/images/work/smalls/act-customer-tx.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/act-card-details.jpg"><img data-original="public/images/work/smalls/act-card-details.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/act-refund.jpg"><img data-original="public/images/work/smalls/act-refund.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/act-catalogues.jpg"><img data-original="public/images/work/smalls/act-catalogues.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/act-signin.jpg"><img data-original="public/images/work/smalls/act-signin.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/act-dashboard.jpg"><img data-original="public/images/work/smalls/act-dashboard.jpg" class="lazyload"/></a>
        </li>
      </ul>
      <h2 class="govuk-heading-l">Multicom Products</h2>
      <ul class="govuk-list work-list">
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/mcom-home-mock.png"><img data-original="public/images/work/smalls/mcom-home-mock.png" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/mcom-product-mock.png"><img data-original="public/images/work/smalls/mcom-product-mock.png" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/mcom-supplier-directory-mock.png"><img data-original="public/images/work/smalls/mcom-supplier-directory-mock.png" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/mcom-contact-mock.png"><img data-original="public/images/work/smalls/mcom-contact-mock.png" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/mcom-home.jpg"><img data-original="public/images/work/smalls/mcom-home.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/mcom-product.jpg"><img data-original="public/images/work/smalls/mcom-product.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/mcom-solution.jpg"><img data-original="public/images/work/smalls/mcom-solution.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/mcom-contact.jpg"><img data-original="public/images/work/smalls/mcom-contact.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/mcom-products.jpg"><img data-original="public/images/work/smalls/mcom-products.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/tc-home.jpg"><img data-original="public/images/work/smalls/tc-home.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/f4l-home.jpg"><img data-original="public/images/work/smalls/f4l-home.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/coop-basket.jpg"><img data-original="public/images/work/smalls/coop-basket.jpg" class="lazyload"/></a>
        </li>
      </ul>
      <h2 class="govuk-heading-l">Innovation Group</h2>
      <ul class="govuk-list work-list">
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/ig-inbox.jpg"><img data-original="public/images/work/smalls/ig-inbox.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/ig-incident.jpg"><img data-original="public/images/work/smalls/ig-incident.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/ig-icons.jpg"><img data-original="public/images/work/smalls/ig-icons.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/ig-lightbox.jpg"><img data-original="public/images/work/smalls/ig-lightbox.jpg" class="lazyload"/></a>
        </li>
      </ul>
      <h2 class="govuk-heading-l">Logo Design</h2>
      <ul class="govuk-list work-list">
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/fastbox.jpg"><img data-original="public/images/work/main/logos/fastbox.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/pogo.jpg"><img data-original="public/images/work/main/logos/pogo.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/education-harbour.jpg"><img data-original="public/images/work/main/logos/education-harbour.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/bath-style.jpg"><img data-original="public/images/work/main/logos/bath-style.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/rush.jpg"><img data-original="public/images/work/main/logos/rush.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/send-a-postcard.jpg"><img data-original="public/images/work/main/logos/send-a-postcard.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/spring.jpg"><img data-original="public/images/work/main/logos/spring.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/tart.jpg"><img data-original="public/images/work/main/logos/tart.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/township.jpg"><img data-original="public/images/work/main/logos/township.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/stella.jpg"><img data-original="public/images/work/main/logos/stella.jpg" class="lazyload"/></a>
        </li>
      </ul>
      <h2 class="govuk-heading-l">Other pieces</h2>
      <ul class="govuk-list work-list">
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/other-sketch-preferences.jpg"><img data-original="public/images/work/smalls/other-sketch-preferences.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/other-sketch-logo-sheet.jpg"><img data-original="public/images/work/smalls/other-sketch-logo-sheet.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/other-sketch-happy-sad.jpg"><img data-original="public/images/work/smalls/other-sketch-happy-sad.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/other-sketch-amy.jpg"><img data-original="public/images/work/smalls/other-sketch-amy.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/other-sketch-school-girl.jpg"><img data-original="public/images/work/smalls/other-sketch-school-girl.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/other-sketch-woman-2.jpg"><img data-original="public/images/work/smalls/other-sketch-woman-2.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/other-sketch-day-one.jpg"><img data-original="public/images/work/smalls/other-sketch-day-one.jpg" class="lazyload"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/other-sketch-fabrix.jpg"><img data-original="public/images/work/smalls/other-sketch-fabrix.jpg" class="lazyload"/></a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}