{% extends "my-layout.html" %}

{% block pageTitle %}
  My gallery: Ollie Williams, user experience designer
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Work
      </h1>
      <h2 class="govuk-heading-l">GOV.UK: Companies House</h2>
      <ul class="govuk-list work-list">
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-persona.jpg"><img src="public/images/work/smalls/govuk-persona.jpg"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-share-capital-wireframe.png"><img src="public/images/work/smalls/govuk-add-share-capital.png"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-share-capital-wireframe-2.png"><img src="public/images/work/smalls/govuk-share-capital-wireframe-2.png"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-admin-portal.jpg"><img src="public/images/work/smalls/govuk-admin-portal.jpg"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-search.jpg"><img src="public/images/work/smalls/govuk-search.png"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-company-people.jpg"><img src="public/images/work/smalls/govuk-company-people.png"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-company-filings.jpg"><img src="public/images/work/smalls/govuk-company-filings.jpg"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-company-profile.jpg"><img src="public/images/work/smalls/govuk-company-profile.jpg"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-interrupt.jpg"><img src="public/images/work/smalls/govuk-interrupt.jpg"/></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/govuk-check.jpg"><img src="public/images/work/smalls/govuk-check.jpg"/></a>
        </li>
      </ul>
      <h2 class="govuk-heading-l">Applied Card Technologies</h2>
      <ul class="govuk-list work-list">
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/act-login.jpg"><img src="public/images/work/smalls/act-login.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/act-customer-search.jpg"><img src="public/images/work/smalls/act-customer-search.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/act-customer-profile.jpg"><img src="public/images/work/smalls/act-customer-profile.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/act-customer-tx.jpg"><img src="public/images/work/smalls/act-customer-tx.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/act-card-details.jpg"><img src="public/images/work/smalls/act-card-details.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/act-refund.jpg"><img src="public/images/work/smalls/act-refund.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/act-catalogues.jpg"><img src="public/images/work/smalls/act-catalogues.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/act-signin.jpg"><img src="public/images/work/smalls/act-signin.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/act-dashboard.jpg"><img src="public/images/work/smalls/act-dashboard.jpg"></a>
        </li>
      </ul>
      <h2 class="govuk-heading-l">Multicom Products</h2>
      <ul class="govuk-list work-list">
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/mcom-home-mock.png"><img src="public/images/work/smalls/mcom-home-mock.png"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/mcom-product-mock.png"><img src="public/images/work/smalls/mcom-product-mock.png"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/mcom-supplier-directory-mock.png"><img src="public/images/work/smalls/mcom-supplier-directory-mock.png"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/mcom-contact-mock.png"><img src="public/images/work/smalls/mcom-contact-mock.png"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/mcom-home.jpg"><img src="public/images/work/smalls/mcom-home.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/mcom-product.jpg"><img src="public/images/work/smalls/mcom-product.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/mcom-solution.jpg"><img src="public/images/work/smalls/mcom-solution.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/mcom-contact.jpg"><img src="public/images/work/smalls/mcom-contact.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/mcom-products.jpg"><img src="public/images/work/smalls/mcom-products.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/tc-home.jpg"><img src="public/images/work/smalls/tc-home.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/f4l-home.jpg"><img src="public/images/work/smalls/f4l-home.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/coop-basket.jpg"><img src="public/images/work/smalls/coop-basket.jpg"></a>
        </li>
      </ul>
      <h2 class="govuk-heading-l">Innovation Group</h2>
      <ul class="govuk-list work-list">
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/ig-inbox.jpg"><img src="public/images/work/smalls/ig-inbox.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/ig-incident.jpg"><img src="public/images/work/smalls/ig-incident.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/ig-icons.jpg"><img src="public/images/work/smalls/ig-icons.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/ig-lightbox.jpg"><img src="public/images/work/smalls/ig-lightbox.jpg"></a>
        </li>
      </ul>
      <h2 class="govuk-heading-l">Logo Design</h2>
      <ul class="govuk-list work-list">
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/fastbox.jpg"><img src="public/images/work/main/logos/fastbox.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/pogo.jpg"><img src="public/images/work/main/logos/pogo.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/education-harbour.jpg"><img src="public/images/work/main/logos/education-harbour.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/bath-style.jpg"><img src="public/images/work/main/logos/bath-style.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/rush.jpg"><img src="public/images/work/main/logos/rush.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/send-a-postcard.jpg"><img src="public/images/work/main/logos/send-a-postcard.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/spring.jpg"><img src="public/images/work/main/logos/spring.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/tart.jpg"><img src="public/images/work/main/logos/tart.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/township.jpg"><img src="public/images/work/main/logos/township.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/logos/stella.jpg"><img src="public/images/work/main/logos/stella.jpg"></a>
        </li>
      </ul>
      <h2 class="govuk-heading-l">Other pieces</h2>
      <ul class="govuk-list work-list">
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/other-sketch-preferences.jpg"><img src="public/images/work/smalls/other-sketch-preferences.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/other-sketch-logo-sheet.jpg"><img src="public/images/work/smalls/other-sketch-logo-sheet.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/other-sketch-happy-sad.jpg"><img src="public/images/work/smalls/other-sketch-happy-sad.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/other-sketch-amy.jpg"><img src="public/images/work/smalls/other-sketch-amy.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/other-sketch-school-girl.jpg"><img src="public/images/work/smalls/other-sketch-school-girl.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/other-sketch-woman-2.jpg"><img src="public/images/work/smalls/other-sketch-woman-2.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/other-sketch-day-one.jpg"><img src="public/images/work/smalls/other-sketch-day-one.jpg"></a>
        </li>
        <li>
          <a data-fancybox="gallery" href="public/images/work/main/other-sketch-fabrix.jpg"><img src="public/images/work/smalls/other-sketch-fabrix.jpg"></a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}